#### Import Required Libraries

In [31]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [32]:
data = pd.read_csv(r'..\data\part_1\historical_weather.csv')
data["date"] = pd.to_datetime(data["date"])
data

,city_id,date,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh
0,C001,2014-01-01,6.6,-1.4,11.6,NaN,NaN,168.0,6.2
1,C001,2014-01-02,9.3,6.3,13.3,NaN,NaN,155.0,10.0
2,C001,2014-01-03,7.6,1.9,14.0,NaN,NaN,NaN,5.8
3,C001,2014-01-04,7.6,3.9,13.3,NaN,NaN,291.0,11.3
4,C001,2014-01-05,8.6,0.5,16.9,NaN,NaN,NaN,5.0
...,...,...,...,...,...,...,...,...,...
182333,C112,2018-12-27,22.0,15.9,27.9,0.0,NaN,100.0,13.2
182334,C112,2018-12-28,21.9,14.9,28.2,0.0,NaN,91.0,12.6
182335,C112,2018-12-29,22.4,16.3,28.2,0.0,NaN,61.0,14.2
182336,C112,2018-12-30,21.6,18.5,26.6,1.6,NaN,70.0,17.0
182337,C112,2018-12-31,20.2,17.1,25.0,17.5,NaN,103.0,12.6

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182338 entries, 0 to 182337
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   city_id             182338 non-null  object
 1   date                182338 non-null  datetime64[ns]
 2   avg_temp_c          181114 non-null  float64
 3   min_temp_c          176452 non-null  float64
 4   max_temp_c          174845 non-null  float64
 5   precipitation_mm    112594 non-null  float64
 6   snow_depth_mm       12238 non-null   float64
 7   avg_wind_dir_deg    146944 non-null  float64
 8   avg_wind_speed_kmh  159866 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 12.5+ MB

In [34]:
data.isnull().sum()

city_id                    0
date                       0
avg_temp_c              1224
min_temp_c              5886
max_temp_c              7493
precipitation_mm       69744
snow_depth_mm         170100
avg_wind_dir_deg       35394
avg_wind_speed_kmh     22472
dtype: int64

In [35]:
data = data[["date", "city_id", "avg_temp_c"]]
data

             date city_id  avg_temp_c
0      2014-01-01    C001         6.6
1      2014-01-02    C001         9.3
2      2014-01-03    C001         7.6
3      2014-01-04    C001         7.6
4      2014-01-05    C001         8.6
...           ...     ...         ...
182333 2018-12-27    C112        22.0
182334 2018-12-28    C112        21.9
182335 2018-12-29    C112        22.4
182336 2018-12-30    C112        21.6
182337 2018-12-31    C112        20.2

[182338 rows x 3 columns]

In [36]:
# Get the number of null values in the avg_temp_c column for each city
data[data["avg_temp_c"].isnull()].groupby("city_id").size()

city_id
C004       1
C018       5
C027       8
C082      70
C090       2
C094      37
C097    1101
dtype: int64

In [37]:
def dates_with_nulls(city):
    return data[(data["city_id"]==city) & (data["avg_temp_c"].isnull())].reset_index(drop=True)

In [38]:
dates_with_nulls("C018")

        date city_id  avg_temp_c
0 2014-03-25    C018         NaN
1 2014-04-19    C018         NaN
2 2014-04-28    C018         NaN
3 2014-05-01    C018         NaN
4 2014-06-13    C018         NaN

In [39]:
dates_with_nulls("C027")

        date city_id  avg_temp_c
0 2014-01-25    C027         NaN
1 2014-06-18    C027         NaN
2 2014-07-10    C027         NaN
3 2015-11-29    C027         NaN
4 2015-11-30    C027         NaN
5 2015-12-01    C027         NaN
6 2015-12-02    C027         NaN
7 2015-12-03    C027         NaN

In [40]:
dates_with_nulls("C082")

         date city_id  avg_temp_c
0  2014-01-02    C082         NaN
1  2014-01-04    C082         NaN
2  2014-01-05    C082         NaN
3  2014-01-17    C082         NaN
4  2014-01-20    C082         NaN
..        ...     ...         ...
65 2015-10-18    C082         NaN
66 2015-11-07    C082         NaN
67 2016-03-30    C082         NaN
68 2016-03-31    C082         NaN
69 2016-04-01    C082         NaN

[70 rows x 3 columns]

In [41]:
dates_with_nulls("C090")

        date city_id  avg_temp_c
0 2014-09-17    C090         NaN
1 2016-03-12    C090         NaN

In [42]:
dates_with_nulls("C094")

         date city_id  avg_temp_c
0  2014-03-17    C094         NaN
1  2014-03-18    C094         NaN
2  2014-03-19    C094         NaN
3  2014-03-20    C094         NaN
4  2014-03-21    C094         NaN
5  2014-03-22    C094         NaN
6  2014-04-07    C094         NaN
7  2014-04-08    C094         NaN
8  2014-04-09    C094         NaN
9  2014-04-10    C094         NaN
10 2014-04-11    C094         NaN
11 2014-07-04    C094         NaN
12 2014-07-05    C094         NaN
13 2014-09-16    C094         NaN
14 2014-09-17    C094         NaN
15 2015-07-02    C094         NaN
16 2015-09-03    C094         NaN
17 2015-09-04    C094         NaN
18 2015-09-05    C094         NaN
19 2015-09-06    C094         NaN
20 2015-09-07    C094         NaN
21 2015-09-08    C094         NaN
22 2015-09-09    C094         NaN
23 2015-12-31    C094         NaN
24 2016-03-11    C094         NaN
25 2016-03-12    C094         NaN
26 2016-03-13    C094         NaN
27 2016-03-14    C094         NaN
28 2016-03-15    C094         NaN
29 2016-09-17    C094         NaN
30 2016-09-18    C094         NaN
31 2016-09-19    C094         NaN
32 2016-09-20    C094         NaN
33 2016-09-21    C094         NaN
34 2016-09-23    C094         NaN
35 2016-10-29    C094         NaN
36 2018-05-26    C094         NaN

In [43]:
v97 = dates_with_nulls("C097")

In [44]:
v97.head(1101)

           date city_id  avg_temp_c
0    2014-01-01    C097         NaN
1    2014-01-02    C097         NaN
2    2014-01-03    C097         NaN
3    2014-01-04    C097         NaN
4    2014-01-05    C097         NaN
...         ...     ...         ...
1096 2017-01-01    C097         NaN
1097 2017-03-28    C097         NaN
1098 2018-03-27    C097         NaN
1099 2018-05-25    C097         NaN
1100 2018-05-26    C097         NaN

[1101 rows x 3 columns]

##### Replacing Null Values

In [45]:
# Make a function for filling the null values in the avg_temp_c column
def fill_nulls(city):
    city_data = data[data["city_id"]==city].reset_index(drop=True)
    nulls = city_data[city_data["avg_temp_c"].isnull()].reset_index(drop=True)
    for i in range(len(nulls)):
        date = nulls["date"][i]
        month = date.month
        day = date.day
        avg_temp = round(city_data[city_data["date"].dt.month==month][city_data["date"].dt.day==day]["avg_temp_c"].mean(), 1)
        data.loc[(data["city_id"]==city) & (data["date"]==date), "avg_temp_c"] = avg_temp
        print(f"Filled the null value in the avg_temp_c column for city {city} at date {date} with the value {avg_temp}")

In [46]:
fill_nulls("C004")

Filled the null value in the avg_temp_c column for city C004 at date 2015-03-10 00:00:00 with the value -4.4

In [47]:
fill_nulls("C018")

Filled the null value in the avg_temp_c column for city C018 at date 2014-03-25 00:00:00 with the value 3.7
Filled the null value in the avg_temp_c column for city C018 at date 2014-04-19 00:00:00 with the value 6.7
Filled the null value in the avg_temp_c column for city C018 at date 2014-04-28 00:00:00 with the value 7.0
Filled the null value in the avg_temp_c column for city C018 at date 2014-05-01 00:00:00 with the value 7.9
Filled the null value in the avg_temp_c column for city C018 at date 2014-06-13 00:00:00 with the value 16.1

In [48]:
fill_nulls("C027")

Filled the null value in the avg_temp_c column for city C027 at date 2014-01-25 00:00:00 with the value -21.8
Filled the null value in the avg_temp_c column for city C027 at date 2014-06-18 00:00:00 with the value 16.8
Filled the null value in the avg_temp_c column for city C027 at date 2014-07-10 00:00:00 with the value 20.5
Filled the null value in the avg_temp_c column for city C027 at date 2015-11-29 00:00:00 with the value -5.5
Filled the null value in the avg_temp_c column for city C027 at date 2015-11-30 00:00:00 with the value -8.1
Filled the null value in the avg_temp_c column for city C027 at date 2015-12-01 00:00:00 with the value -5.2
Filled the null value in the avg_temp_c column for city C027 at date 2015-12-02 00:00:00 with the value -5.8
Filled the null value in the avg_temp_c column for city C027 at date 2015-12-03 00:00:00 with the value -8.4

In [49]:
fill_nulls("C082")

Filled the null value in the avg_temp_c column for city C082 at date 2014-01-02 00:00:00 with the value 25.6
Filled the null value in the avg_temp_c column for city C082 at date 2014-01-04 00:00:00 with the value 25.9
Filled the null value in the avg_temp_c column for city C082 at date 2014-01-05 00:00:00 with the value 25.7
Filled the null value in the avg_temp_c column for city C082 at date 2014-01-17 00:00:00 with the value 25.6
Filled the null value in the avg_temp_c column for city C082 at date 2014-01-20 00:00:00 with the value 25.2
Filled the null value in the avg_temp_c column for city C082 at date 2014-01-21 00:00:00 with the value 25.4
Filled the null value in the avg_temp_c column for city C082 at date 2014-01-22 00:00:00 with the value 25.9
Filled the null value in the avg_temp_c column for city C082 at date 2014-01-31 00:00:00 with the value 25.4
Filled the null value in the avg_temp_c column for city C082 at date 2014-02-14 00:00:00 with the value 25.7
Filled the null value in the avg_temp_c column for city C082 at date 2014-02-15 00:00:00 with the value 26.0
Filled the null value in the avg_temp_c column for city C082 at date 2014-02-26 00:00:00 with the value 25.7
Filled the null value in the avg_temp_c column for city C082 at date 2014-03-07 00:00:00 with the value 25.7
Filled the null value in the avg_temp_c column for city C082 at date 2014-03-15 00:00:00 with the value 26.0
Filled the null value in the avg_temp_c column for city C082 at date 2014-03-20 00:00:00 with the value 26.0
Filled the null value in the avg_temp_c column for city C082 at date 2014-03-25 00:00:00 with the value 26.1
Filled the null value in the avg_temp_c column for city C082 at date 2014-03-26 00:00:00 with the value 26.0
Filled the null value in the avg_temp_c column for city C082 at date 2014-04-05 00:00:00 with the value 26.4
Filled the null value in the avg_temp_c column for city C082 at date 2014-04-11 00:00:00 with the value 26.4
Filled the null value in the avg_temp_c column for city C082 at date 2014-04-18 00:00:00 with the value 27.2
Filled the null value in the avg_temp_c column for city C082 at date 2014-04-19 00:00:00 with the value 27.2
Filled the null value in the avg_temp_c column for city C082 at date 2014-04-20 00:00:00 with the value 26.9
Filled the null value in the avg_temp_c column for city C082 at date 2014-04-26 00:00:00 with the value 26.8
Filled the null value in the avg_temp_c column for city C082 at date 2014-04-27 00:00:00 with the value 26.5
Filled the null value in the avg_temp_c column for city C082 at date 2014-04-28 00:00:00 with the value 26.2
Filled the null value in the avg_temp_c column for city C082 at date 2014-04-29 00:00:00 with the value 26.8
Filled the null value in the avg_temp_c column for city C082 at date 2014-04-30 00:00:00 with the value 26.6
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-03 00:00:00 with the value 27.1
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-05 00:00:00 with the value 27.2
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-06 00:00:00 with the value 27.1
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-08 00:00:00 with the value 27.4
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-09 00:00:00 with the value 27.9
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-10 00:00:00 with the value 27.6
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-11 00:00:00 with the value 27.7
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-20 00:00:00 with the value 28.0
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-21 00:00:00 with the value 28.2
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-22 00:00:00 with the value 28.3
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-23 00:00:00 with the value 27.2
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-24 00:00:00 with the value 27.7
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-25 00:00:00 with the value 28.0
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-26 00:00:00 with the value 28.2
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-27 00:00:00 with the value 27.6
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-28 00:00:00 with the value 27.3
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-29 00:00:00 with the value 27.6
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-30 00:00:00 with the value 27.8
Filled the null value in the avg_temp_c column for city C082 at date 2014-05-31 00:00:00 with the value 28.0
Filled the null value in the avg_temp_c column for city C082 at date 2014-07-22 00:00:00 with the value 28.6
Filled the null value in the avg_temp_c column for city C082 at date 2014-09-08 00:00:00 with the value 28.8
Filled the null value in the avg_temp_c column for city C082 at date 2014-09-27 00:00:00 with the value 28.6
Filled the null value in the avg_temp_c column for city C082 at date 2014-10-09 00:00:00 with the value 28.6
Filled the null value in the avg_temp_c column for city C082 at date 2014-10-10 00:00:00 with the value 28.3
Filled the null value in the avg_temp_c column for city C082 at date 2015-02-05 00:00:00 with the value 25.2
Filled the null value in the avg_temp_c column for city C082 at date 2015-02-06 00:00:00 with the value 25.6
Filled the null value in the avg_temp_c column for city C082 at date 2015-02-07 00:00:00 with the value 25.8
Filled the null value in the avg_temp_c column for city C082 at date 2015-02-08 00:00:00 with the value 25.8
Filled the null value in the avg_temp_c column for city C082 at date 2015-05-06 00:00:00 with the value 27.1
Filled the null value in the avg_temp_c column for city C082 at date 2015-05-09 00:00:00 with the value 27.9
Filled the null value in the avg_temp_c column for city C082 at date 2015-05-14 00:00:00 with the value 27.7
Filled the null value in the avg_temp_c column for city C082 at date 2015-05-15 00:00:00 with the value 27.5
Filled the null value in the avg_temp_c column for city C082 at date 2015-05-16 00:00:00 with the value 27.5
Filled the null value in the avg_temp_c column for city C082 at date 2015-05-17 00:00:00 with the value 27.8
Filled the null value in the avg_temp_c column for city C082 at date 2015-05-20 00:00:00 with the value 28.0
Filled the null value in the avg_temp_c column for city C082 at date 2015-06-05 00:00:00 with the value 28.5
Filled the null value in the avg_temp_c column for city C082 at date 2015-06-25 00:00:00 with the value 28.7
Filled the null value in the avg_temp_c column for city C082 at date 2015-08-21 00:00:00 with the value 29.4
Filled the null value in the avg_temp_c column for city C082 at date 2015-10-11 00:00:00 with the value 28.2
Filled the null value in the avg_temp_c column for city C082 at date 2015-10-18 00:00:00 with the value 28.0
Filled the null value in the avg_temp_c column for city C082 at date 2015-11-07 00:00:00 with the value 27.6
Filled the null value in the avg_temp_c column for city C082 at date 2016-03-30 00:00:00 with the value 25.2
Filled the null value in the avg_temp_c column for city C082 at date 2016-03-31 00:00:00 with the value 25.8
Filled the null value in the avg_temp_c column for city C082 at date 2016-04-01 00:00:00 with the value 25.8

In [50]:
fill_nulls("C090")

Filled the null value in the avg_temp_c column for city C090 at date 2014-09-17 00:00:00 with the value 17.4
Filled the null value in the avg_temp_c column for city C090 at date 2016-03-12 00:00:00 with the value 5.7

In [51]:
fill_nulls("C094")

Filled the null value in the avg_temp_c column for city C094 at date 2014-03-17 00:00:00 with the value 11.7
Filled the null value in the avg_temp_c column for city C094 at date 2014-03-18 00:00:00 with the value 10.2
Filled the null value in the avg_temp_c column for city C094 at date 2014-03-19 00:00:00 with the value 10.2
Filled the null value in the avg_temp_c column for city C094 at date 2014-03-20 00:00:00 with the value 9.5
Filled the null value in the avg_temp_c column for city C094 at date 2014-03-21 00:00:00 with the value 8.5
Filled the null value in the avg_temp_c column for city C094 at date 2014-03-22 00:00:00 with the value 9.8
Filled the null value in the avg_temp_c column for city C094 at date 2014-04-07 00:00:00 with the value 11.3
Filled the null value in the avg_temp_c column for city C094 at date 2014-04-08 00:00:00 with the value 12.2
Filled the null value in the avg_temp_c column for city C094 at date 2014-04-09 00:00:00 with the value 11.1
Filled the null value in the avg_temp_c column for city C094 at date 2014-04-10 00:00:00 with the value 12.0
Filled the null value in the avg_temp_c column for city C094 at date 2014-04-11 00:00:00 with the value 12.6
Filled the null value in the avg_temp_c column for city C094 at date 2014-07-04 00:00:00 with the value 26.9
Filled the null value in the avg_temp_c column for city C094 at date 2014-07-05 00:00:00 with the value 27.6
Filled the null value in the avg_temp_c column for city C094 at date 2014-09-16 00:00:00 with the value 19.9
Filled the null value in the avg_temp_c column for city C094 at date 2014-09-17 00:00:00 with the value 20.9
Filled the null value in the avg_temp_c column for city C094 at date 2015-07-02 00:00:00 with the value 25.2
Filled the null value in the avg_temp_c column for city C094 at date 2015-09-03 00:00:00 with the value 23.6
Filled the null value in the avg_temp_c column for city C094 at date 2015-09-04 00:00:00 with the value 23.5
Filled the null value in the avg_temp_c column for city C094 at date 2015-09-05 00:00:00 with the value 23.4
Filled the null value in the avg_temp_c column for city C094 at date 2015-09-06 00:00:00 with the value 23.6
Filled the null value in the avg_temp_c column for city C094 at date 2015-09-07 00:00:00 with the value 22.0
Filled the null value in the avg_temp_c column for city C094 at date 2015-09-08 00:00:00 with the value 20.6
Filled the null value in the avg_temp_c column for city C094 at date 2015-09-09 00:00:00 with the value 22.0
Filled the null value in the avg_temp_c column for city C094 at date 2015-12-31 00:00:00 with the value 6.7
Filled the null value in the avg_temp_c column for city C094 at date 2016-03-11 00:00:00 with the value 10.7
Filled the null value in the avg_temp_c column for city C094 at date 2016-03-12 00:00:00 with the value 10.5
Filled the null value in the avg_temp_c column for city C094 at date 2016-03-13 00:00:00 with the value 9.6
Filled the null value in the avg_temp_c column for city C094 at date 2016-03-14 00:00:00 with the value 9.4
Filled the null value in the avg_temp_c column for city C094 at date 2016-03-15 00:00:00 with the value 11.5
Filled the null value in the avg_temp_c column for city C094 at date 2016-09-17 00:00:00 with the value 20.9
Filled the null value in the avg_temp_c column for city C094 at date 2016-09-18 00:00:00 with the value 21.7
Filled the null value in the avg_temp_c column for city C094 at date 2016-09-19 00:00:00 with the value 21.4
Filled the null value in the avg_temp_c column for city C094 at date 2016-09-20 00:00:00 with the value 22.0
Filled the null value in the avg_temp_c column for city C094 at date 2016-09-21 00:00:00 with the value 19.9
Filled the null value in the avg_temp_c column for city C094 at date 2016-09-23 00:00:00 with the value 22.0
Filled the null value in the avg_temp_c column for city C094 at date 2016-10-29 00:00:00 with the value 12.7
Filled the null value in the avg_temp_c column for city C094 at date 2018-05-26 00:00:00 with the value 19.0

In [52]:
fill_nulls("C097")

Filled the null value in the avg_temp_c column for city C097 at date 2014-01-01 00:00:00 with the value -1.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-02 00:00:00 with the value 1.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-03 00:00:00 with the value 1.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-04 00:00:00 with the value 0.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-05 00:00:00 with the value -1.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-06 00:00:00 with the value -4.7
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-07 00:00:00 with the value -4.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-08 00:00:00 with the value -0.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-09 00:00:00 with the value -1.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-10 00:00:00 with the value -2.3
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-11 00:00:00 with the value -1.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-12 00:00:00 with the value -0.3
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-13 00:00:00 with the value 1.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-14 00:00:00 with the value -0.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-15 00:00:00 with the value -4.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-16 00:00:00 with the value -1.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-17 00:00:00 with the value -1.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-18 00:00:00 with the value -1.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-19 00:00:00 with the value 1.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-20 00:00:00 with the value -0.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-21 00:00:00 with the value -0.3
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-22 00:00:00 with the value -0.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-23 00:00:00 with the value 0.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-24 00:00:00 with the value 0.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-25 00:00:00 with the value -1.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-26 00:00:00 with the value -1.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-27 00:00:00 with the value -1.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-28 00:00:00 with the value -2.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-29 00:00:00 with the value -1.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-30 00:00:00 with the value -4.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-01-31 00:00:00 with the value -6.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-01 00:00:00 with the value -7.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-02 00:00:00 with the value -5.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-03 00:00:00 with the value -5.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-04 00:00:00 with the value -3.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-05 00:00:00 with the value -4.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-06 00:00:00 with the value -3.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-07 00:00:00 with the value -5.3
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-08 00:00:00 with the value -4.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-09 00:00:00 with the value -4.3
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-10 00:00:00 with the value -4.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-11 00:00:00 with the value -5.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-12 00:00:00 with the value -3.7
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-13 00:00:00 with the value -1.7
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-14 00:00:00 with the value -0.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-15 00:00:00 with the value -1.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-16 00:00:00 with the value -2.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-17 00:00:00 with the value -2.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-18 00:00:00 with the value -2.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-19 00:00:00 with the value 0.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-20 00:00:00 with the value -0.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-21 00:00:00 with the value 2.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-22 00:00:00 with the value -0.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-23 00:00:00 with the value 0.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-24 00:00:00 with the value 3.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-25 00:00:00 with the value 4.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-26 00:00:00 with the value 2.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-27 00:00:00 with the value 2.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-02-28 00:00:00 with the value 2.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-01 00:00:00 with the value 2.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-02 00:00:00 with the value 3.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-03 00:00:00 with the value 1.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-04 00:00:00 with the value -1.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-05 00:00:00 with the value -2.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-06 00:00:00 with the value 0.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-07 00:00:00 with the value 0.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-08 00:00:00 with the value 0.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-09 00:00:00 with the value -0.7
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-10 00:00:00 with the value -1.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-11 00:00:00 with the value -0.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-12 00:00:00 with the value 1.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-13 00:00:00 with the value 2.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-14 00:00:00 with the value 2.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-15 00:00:00 with the value 1.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-16 00:00:00 with the value 1.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-17 00:00:00 with the value 1.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-18 00:00:00 with the value 2.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-19 00:00:00 with the value 0.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-20 00:00:00 with the value 3.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-21 00:00:00 with the value 3.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-22 00:00:00 with the value 3.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-23 00:00:00 with the value 5.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-24 00:00:00 with the value 5.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-25 00:00:00 with the value 6.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-26 00:00:00 with the value 5.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-27 00:00:00 with the value 6.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-28 00:00:00 with the value 6.7
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-29 00:00:00 with the value 2.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-30 00:00:00 with the value 3.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-03-31 00:00:00 with the value 2.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-01 00:00:00 with the value 1.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-02 00:00:00 with the value 0.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-03 00:00:00 with the value 2.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-04 00:00:00 with the value 4.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-05 00:00:00 with the value 1.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-06 00:00:00 with the value 1.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-07 00:00:00 with the value 2.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-08 00:00:00 with the value 1.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-09 00:00:00 with the value 2.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-10 00:00:00 with the value 3.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-11 00:00:00 with the value 4.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-12 00:00:00 with the value 4.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-13 00:00:00 with the value 4.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-14 00:00:00 with the value 3.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-15 00:00:00 with the value 3.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-16 00:00:00 with the value 4.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-17 00:00:00 with the value 7.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-18 00:00:00 with the value 8.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-19 00:00:00 with the value 7.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-20 00:00:00 with the value 7.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-21 00:00:00 with the value 8.3
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-22 00:00:00 with the value 5.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-23 00:00:00 with the value 5.3
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-24 00:00:00 with the value 4.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-25 00:00:00 with the value 4.3
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-26 00:00:00 with the value 3.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-27 00:00:00 with the value 3.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-28 00:00:00 with the value 4.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-29 00:00:00 with the value 4.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-04-30 00:00:00 with the value 6.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-01 00:00:00 with the value 6.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-02 00:00:00 with the value 8.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-03 00:00:00 with the value 6.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-04 00:00:00 with the value 6.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-05 00:00:00 with the value 7.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-06 00:00:00 with the value 8.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-07 00:00:00 with the value 6.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-08 00:00:00 with the value 7.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-09 00:00:00 with the value 8.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-10 00:00:00 with the value 11.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-11 00:00:00 with the value 13.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-12 00:00:00 with the value 13.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-13 00:00:00 with the value 14.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-14 00:00:00 with the value 13.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-15 00:00:00 with the value 10.3
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-16 00:00:00 with the value 10.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-17 00:00:00 with the value 9.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-18 00:00:00 with the value 12.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-19 00:00:00 with the value 14.3
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-20 00:00:00 with the value 12.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-21 00:00:00 with the value 11.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-22 00:00:00 with the value 10.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-23 00:00:00 with the value 10.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-24 00:00:00 with the value 11.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-25 00:00:00 with the value 11.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-26 00:00:00 with the value 9.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-27 00:00:00 with the value 8.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-28 00:00:00 with the value 10.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-29 00:00:00 with the value 11.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-30 00:00:00 with the value 12.1
Filled the null value in the avg_temp_c column for city C097 at date 2014-05-31 00:00:00 with the value 12.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-01 00:00:00 with the value 13.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-02 00:00:00 with the value 13.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-03 00:00:00 with the value 14.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-04 00:00:00 with the value 16.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-05 00:00:00 with the value 16.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-06 00:00:00 with the value 16.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-07 00:00:00 with the value 17.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-08 00:00:00 with the value 17.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-09 00:00:00 with the value 17.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-10 00:00:00 with the value 18.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-11 00:00:00 with the value 18.7
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-12 00:00:00 with the value 16.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-13 00:00:00 with the value 16.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-14 00:00:00 with the value 16.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-15 00:00:00 with the value 16.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-16 00:00:00 with the value 17.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-17 00:00:00 with the value 19.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-18 00:00:00 with the value 19.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-19 00:00:00 with the value 19.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-20 00:00:00 with the value 18.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-21 00:00:00 with the value 19.9
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-22 00:00:00 with the value 19.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-23 00:00:00 with the value 19.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-24 00:00:00 with the value 20.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-25 00:00:00 with the value 20.6
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-26 00:00:00 with the value 21.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-27 00:00:00 with the value 22.0
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-28 00:00:00 with the value 22.5
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-29 00:00:00 with the value 20.8
Filled the null value in the avg_temp_c column for city C097 at date 2014-06-30 00:00:00 with the value 20.4
Filled the null value in the avg_temp_c column for city C097 at date 2014-07-01 00:00:00 with the value 20.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-07-02 00:00:00 with the value 20.2
Filled the null value in the avg_temp_c column for city C097 at date 2014-07-03 00:00:00 with the value 20.0

In [53]:
data.isnull().sum()

date          0
city_id       0
avg_temp_c    1
dtype: int64

In [54]:
data[data["avg_temp_c"].isnull()]

             date city_id  avg_temp_c
153958 2016-02-29    C097         NaN

The above null values remain due to 2016 being a leap year, which cannot be replaced with the mean of other months. Therefore, we can use forward fill to handle these null values.

In [55]:
# Forward fill the remaining null values
data = data.fillna(method="ffill")

In [56]:
data.isnull().sum()

date          0
city_id       0
avg_temp_c    0
dtype: int64

In [57]:
# Save cleaned data to a new CSV file
data.to_csv(r"..\data\part_1\historical_weather_cleaned.csv", index=False)

### Handling Outliers

In [58]:
def handle_outliers(group):
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = group['avg_temp_c'].quantile(0.25)
    Q3 = group['avg_temp_c'].quantile(0.75)
    IQR = Q3 - Q1
    
    # Calculate the lower and upper bounds for outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Replace outliers with the median of the city
    median = group['avg_temp_c'].median()
    group['avg_temp_c'] = group['avg_temp_c'].apply(lambda x: median if x < lower_bound or x > upper_bound else x)
    return group

# Apply the function to each city
data_cleaned = data.groupby('city_id').apply(handle_outliers)

data_cleaned.head(20)

                 date city_id  avg_temp_c
city_id
C001    0  2014-01-01    C001         6.6
        1  2014-01-02    C001         9.3
        2  2014-01-03    C001         7.6
        3  2014-01-04    C001         7.6
        4  2014-01-05    C001         8.6
        5  2014-01-06    C001         9.1
        6  2014-01-07    C001         8.8
        7  2014-01-08    C001         8.8
        8  2014-01-09    C001         9.9
        9  2014-01-10    C001        10.8
        10 2014-01-11    C001        10.2
        11 2014-01-12    C001         9.4
        12 2014-01-13    C001         8.2
        13 2014-01-14    C001         7.4
        14 2014-01-15    C001         8.7
        15 2014-01-16    C001        10.8
        16 2014-01-17    C001        12.0
        17 2014-01-18    C001         6.1
        18 2014-01-19    C001         7.4
        19 2014-01-20    C001         9.1

In [59]:
# Save data without outliers to a new CSV file
data_cleaned.to_csv(r"..\data\part_1\historical_weather_without_outliers.csv", index=False)